<settings>
    <setting propertyKey="@Properties.weekStartDay" title="@Strings.WeekStartDayTitle">
        <settingConfig type="list">
            <listEntry value="0">@Strings.WeekStartSaturday</listEntry>
            <listEntry value="1">@Strings.WeekStartSunday</listEntry>
            <listEntry value="2">@Strings.WeekStartMonday</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.showGregorianInGlance" title="@Strings.ShowGregorianInGlanceTitle">
        <settingConfig type="list">
            <listEntry value="1">@Strings.SettingOn</listEntry>
            <listEntry value="0">@Strings.SettingOff</listEntry>
        </settingConfig>
    </setting>
    <setting propertyKey="@Properties.persianYearMode" title="@Strings.PersianYearModeTitle">
        <settingConfig type="list">
            <listEntry value="0">@Strings.PersianYearModeHijri</listEntry>
            <listEntry value="1">@Strings.PersianYearModeShahanshahi</listEntry>
        </settingConfig>
    </setting>
</settings>
